* {
  box-sizing: border-box;
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

h1 {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid black;
}

aside {
  width: 30%;
  border-right: 1px solid black;
}

.notes-container {
  width: 70%;
  padding: 5px;
  margin: 5px;
}

.notes {
  padding: 5px;
  margin: 10px;
  border: 1px solid black;
}

.delete-note {
  text-align: center;
  width: 90%;
}

.add-folder, .go-back {
  align-self: center;
  width: 90%;
  padding: 5px;
  margin: 5px;
}

.current-folder {
  text-align: right;
  padding: 10px;
  font-size: 18px;
}

.add-note {
  width: 50%;
  padding: 5px;
  margin: 10px;
}

.note-title, .note-modified {
  padding: 3px;
}

.folders {
  text-align: center;
  width: 100%;
  border: 1px solid black
}

.note-content {
  margin: 10px;
}